<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="dalbir.printer"
        version="1">

    <name>Printer</name>

    <description>A bunch of printig plugins for Cordova 3.x.x</description>
    <repo>https://github.com/dalbir/Printer4.2</repo>
    <keywords>print, printer, ios, android</keywords>
    <license>Apache 2.0</license>

    <author>Dalbir Singh</author>

    <engines>
        <engine name="cordova" version=">=3.0.0" />
    </engines>

    <!-- interface -->
    <js-module src="www/printer.js" name="Printer">
        <clobbers target="plugin.Printer" />
        <clobbers target="cordova.plugins.printer" />
    </js-module>

       <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="Printer">
                <param name="android-package" value="io.cordova.dPrinter"/>
            </feature>
        </config-file>

        <source-file src="src/io/dPrinter/dPrinter.java" target-dir="src/de/appplant/cordova/plugin/printer" />
    </platform>
</plugin>
